<!doctype html>
<html>

<head>
  <title>Chatroom</title>

  <script src="socket.io-1.2.0.js"></script>
  <script src="jquery-1.11.1.js"></script>
  <script src="jquery.min.js"></script>
  <script src="jquery.form.min.js"></script>
  <link rel="stylesheet" href="chatroom.css" />
  <link rel="stylesheet" href="bootstrap.min.css">

</head>

<script>
// pre vars
var user = "<%= user%>";
var chatroom ="<%= chatroom%>";
var appUrl ="<%= appUrl%>"
</script>

<body>
  <div class="header">
    <p id="user"><br>Logged in as: <b><%= user%></b></p>
    <p id="chatroom"><br>Chatroom: <b><%= chatroom%></b></p>
    <a href='/logout'>Logout</a>
  </div>
  <div class="testdiv">
    <ul id="messages"></ul>
  </div>
  <form class="form-group" id="uploadForm">

    <input id="chatfield" autocomplete="off" />
    <input class="btn btn-default" type="submit" value="Send" name="send" id="send"></input>
    <input class="btn btn-default" type="submit" value="Upload" name="upload" id="upload"></input>
    <input type="file" value="Media" id="media" name="media"></input>
  </form>

  <script src="chatroom.js"></script>
</body>

</html>